@model IEnumerable<Project3.Models.ApplicationResponse>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Movies</h1>

<p>
    <a class="btn btn-success" asp-action="Create" role="button">Add Movie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edited)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lent_To)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edited)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lent_To)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a class="btn btn-info" asp-action="Edit" role="button" asp-route-id="@item.ApplicationResponseID">Edit</a> 
            </td>
            <td>
                <a class="btn btn-danger" asp-action="Delete" role="button" asp-route-id="@item.ApplicationResponseID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
